<section class="section" id="book">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5 col-md-4">
				<div class="book-preview">
					<img src="{{page.about.image}}" class=" img-fluid" alt="{{page.about.heading}}">			
			    </div>
            </div>
			<div class="col-lg-6 col-md-8">
				<div class="section-heading book-info mt-5 mt-lg-0 pl-4">
					<h2 class="text-lg mb-3">{{page.about.heading}}</h2>
					<p class="lead">{{page.about.lead}}</p>
					<div class="about-features mt-3">
						<div class="about-item mb-40">
							{{page.about.desc}}
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
    
</section>