<section class="section cta-home py-5">
	<div class="container">
		<div class="row ">
			<div class="col-12 col-md-8 col-lg-8 offset-md-2 offset-lg-2 text-center">
				<h2 class="text-lg">Get your free chapter!</h2>
				<p>Are you interested in seeing what’s in Practical Monitoring, but not yet ready to buy the full book? No problem, I’ve got you covered with a free chapter from the book.</p>
		   </div>

			<div class="col-12 col-md-8 col-lg-8 offset-md-2 offset-lg-2 text-center">
				<a href="{{page.banner.btnURL2}}" target="_blank" class="btn btn-main mt-2 mb-2"><i class="ti-download"></i>  {{page.banner.btnText2}}</a>
			 	
			</div>
		</div>
	</div>
</section>