<section class="section cta-home">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-sm-6 col-md-6 col-xl-6">
                 <h2 class="text-lg">Get your free chapter!</h2>
                 <p>Are you interested in seeing what’s in Practical Monitoring, but not yet ready to buy the full book? No problem, I’ve got you covered with a free chapter from the book.</p>
			</div>

			<div class="col-12 col-sm-6 col-md-6 col-xl-6">
				<form action="https://app.convertkit.com/forms/805072/subscriptions" method="POST">
			 		<div class="form-group">
                        <input type="text" class="formkit-input form-control" name="email_address"  placeholder="Email address" required="">			 			
                     </div>
                     <button data-element="submit" class="formkit-submit formkit-submit btn btn-main-2"><div class="formkit-spinner"></div>I want it!</button>

			 	</form>
			 	
                 <p class="mt-3 mb-0">* We won't send you spam. Unsubscribe at any time.</p>
                 <em><a href="https://convertkit.com/?utm_source=dynamic&amp;utm_medium=referral&amp;utm_campaign=poweredby&amp;utm_content=form" class="formkit-powered-by" data-element="powered-by" target="_blank" rel="noopener noreferrer">Powered By ConvertKit</a></div></em>
			</div>
		</div>
	</div>
</section>