<footer class="footer bg-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <p class="footer-copy text-white mb-0">
                    © Copyright <span class="current-year">practicalmonitoring</span> All rights reserved-2020.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="footer-btm-menu text-lg-right mt-3 mt-lg-0">
                    <ul class="list-inline socials">
                        <li class="list-inline-item text-white"><span class="mb-3">Follow Me :</span></li>
                        {% for socials in site.social %}
                                <li class="list-inline-item ">
                                    <a href="{{socials.url}}"><i class="{{socials.icon}}"></i></a>
                                </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div> <!-- / .row -->
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<!--BS4-->
<script src="/assets/js/bootstrap.min4.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="/assets/js/main.js"></script>